-- Verificar campos existentes en ai_generated_articles
SELECT 
  column_name, 
  data_type, 
  is_nullable, 
  column_default
FROM information_schema.columns 
WHERE table_name = 'ai_generated_articles' 
ORDER BY ordinal_position;
